<?xml version='1.0' encoding='utf-8'?>
<widget id="dir_vue.com" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>Mobit365</name>
    <description>
        Mobit365 project!
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Kon Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation data-href="http://*/*" href="*" />
    <allow-navigation data-href="http://*/*" href="*" />
    <allow-navigation data-href="http://*/*" href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="land-ldpi" src="src/static/nansen_mobit-365_logo_W.png" />
        <splash density="land-hdpi" src="src/static/nansen_mobit-365_logo.png" />
        <splash density="land-ldpi" src="src/static/nansen_mobit-365_logo.png" />
        <splash density="land-mdpi" src="src/static/nansen_mobit-365_logo.png" />
        <splash density="land-xhdpi" src="src/static/nansen_mobit-365_logo.png" />
        <splash density="port-hdpi" src="src/static/nansen_mobit-365_logo.png" />
        <splash density="port-ldpi" src="src/static/nansen_mobit-365_logo.png" />
        <splash density="port-mdpi" src="src/static/nansen_mobit-365_logo.png" />
        <splash density="port-xhdpi" src="src/static/nansen_mobit-365_logo.png" />
        <preference name="SplashScreenDelay" value="4000" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="AutoHideSplashScreen" value="true" />
    </platform>
    <platform name="browser">
        <icon src="src/static/nansen_mobit-365_logo_W.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation data-href="http://*/*" href="*" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="^2.4.0" />
    <plugin name="cordova-android-support-gradle-release" spec="^1.3.0">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-media-capture" spec="^3.0.2" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <engine name="browser" spec="^5.0.2" />
    <engine name="android" spec="^7.0.0" />
</widget>
