<?xml version='1.0' encoding='utf-8'?>
<widget id="dir_vue.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>MobileAudit</name>
    <description>
        MobileAudit project!
    </description>
    <icon src="src/static/icon_main.png" />
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Kon Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="land-ldpi" src="src/static/icon_main.png" />
        <preference name="SplashScreenDelay" value="4000" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="static/icon_main.png" />
        <preference name="SplashMaintainAspectRatio" value="false" />
        <preference name="SplashScreenDelay" value="2000" />
        <icon src="static/icon_main.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <engine name="browser" spec="^5.0.2" />
</widget>
