#login-form {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	white-space: nowrap;

	font-size: 0;

	&:before {
		height: 20%;
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}

.page{
	background: linear-gradient(-50deg, #e9e9e9, #eeeeee, #fff,#fff)!important;
}
.login_form{
	position: relative;
}
.item-media{
	color: rgb(117, 117, 117);
	padding-left: 2px!important;
}
.login_form .item-media+.item-inner{
	margin-left: 0!important;
}
.button_login_form{
	margin:0 10%;
}
.foget_item{
	margin-top:-10px!important;
}
.button_login_form_foget{
	font-size:12px!important;
	margin:0 10%;
}
.submit_item{
	margin-top: 15px;
}

.left-panel-header{
	padding:20px 5% 0 5%;
	text-align: center;
}
.user_img{
	width:81px;
	height: 81px;
}
.navbar{
	box-shadow:unset!important;
}


.audit_good{
	color: #019341;
}
.audit_error{
	color: #ddd;
}
.audit_wrong{
	color: #b51313;

}
.blck_info .card{
	margin:3% 0 0 0 ;

}
#login-form .card{
	margin:0 ;
	background-color: transparent;
	border:unset;
	-webkit-box-shadow: unset;
	-moz-box-shadow: unset;
	box-shadow: unset;
}
.obj_info{
	display:block;
	width:100%;
	margin:5px 0 5px 0;
}
.audit_new{
	color:#2196F3;
}
.blck_info .item-media{
	align-self: unset!important;
	justify-content: center;
}
.media-list{
	margin-bottom: 15px!important;
	margin-top:0px!important;
}
.card-header:after{
	height: 2px;
}
#center_body .list-block .item-content:after{
	height: 0;
}
.list-block .item-content:after {
	 content: '';
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 right: auto;
	 top: auto;
	 height: 1px;
	 width: 100%;
	 background-color: rgba(0,0,0,.12);
	 display: block;
	 z-index: 15;
	 -webkit-transform-origin: 50% 100%;
	 transform-origin: 50% 100%;
	 opacity: 0.5;
 }
.list-block .item-inner:after {

	height: 0px!important;

}
.card-content-inner{
	padding-top:0px!important;
	padding-bottom: 0px!important;
}

.comments .content-block-inner:before
 {
	display:none;
}

.comments{
	padding-top:10px;
	background: linear-gradient(-50deg, #e9e9e9, #eeeeee, #f6f6f6)!important;
}



.comment_text_zone .list-block{
	margin-top:0!important;
}

.comment_text_zone .item-content{
	padding-left:0px;
}
.comment_text_zone .item-inner{
	padding-right: 0px;
}
.accordion-item{
	margin-bottom: 15px;
}
.comment_text_zone textarea,
.comment_text_zone  .title_input input{
	 padding-left:7px;
	 padding-right:7px;
 }

.check_list_items  li:after{
	display:none!important;
}
.comment_text_zone .content-block{
	padding:15px 0 0 5px;
}
.attachments_comments span{
	margin: 20px 0 5px 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.comment_text_zone .attachments_comments{
	margin:10px 0 10px 0!important;
}
.comment_text_zone .item-content:after{
	display:none;
}
.remove_button_block{
	position:relative;
}
.remove_button{
	position:absolute;
	top: -80px;
	right:-5px;
	color:#ddd;
	width:18px;
	text-align: center;
	opacity: 1!important;
}

.img_top_back{
	background-color: #222222;
	height: 15px;
	opacity: 0.5;
	top:0;
	padding-left: 3px;
	position: relative;

}
.img_bot_back{
	background-color: #222222;
	height: 15px;
	opacity: 0.5;
	margin-top:30px;
}
.user_back{
	color:#fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../static/background_user.jpg");
	height: 90px;
}
.mleft_menu_block{
	margin-top: 0 !important;
}
.settings .left .back i{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23222222'%2F%3E%3C%2Fsvg%3E")
}
.user_settings ul:before,
.user_settings .item-content:after,
.add_list ul:before,
.add_list .item-content:after
{
	display:none;
}

.cost .page-content{
	margin-top:40px;
}
.abort_button{
	border:1px solid #ddd;
	color:#222222;
}
.check_list_items li:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.12);
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	opacity: 0.5;
}
.check_list_items .col-50 .item-content:after{
	display:none;
}
.status_sucs .item-content:first-child {
	background-color:#D9FFDA;
}
.status_false .item-content:first-child {
	background-color:#FEE9E6;
}
.comment_text_zone .item-content{
	background-color:#FFFFFF!important;
}

//Animation
.slide-fade-enter-active,.slide-fade-leave-active {
	transition: all .2s ;
}
.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active до версии 2.1.8 */ {
	//transform: translateY(-20px);
	opacity: 0;
}



.slide-app-enter-active,.slide-app-leave-active {
	transition:   all .3s cubic-bezier(.65, 0.05, 0.36, 1.0); ;
}
.slide-app-enter, .slide-app-leave-to
	/* .slide-fade-leave-active до версии 2.1.8 */ {
	transform: translateY(20px);
	opacity: 0;
}

.acrd_custom .item-content:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	height: 1px;
	width: 100%;
	background-color: rgba(0,0,0,.12);
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0.5;
}
.custom_block_no_after .content-block-inner:after,
.custom_block_no_after .content-block-inner:before{
  display:none;
}
.comment_text_zone .item-content:before{
  display:none;
}
.check_list_items .accordion-item .item-content{
	background-color: transparent!important;
}
.new_audits_count{
	text-align: center;
	background-color: #2196f3;
	color:#FFFFFF;
	border-radius:3px;
}
.fab_bottom{
	margin-bottom:48px;
	left:15px;
}
.crud_header{
	width:80px;
	margin-right:10px
}
.crud_header div{
	text-align: center;
}
.add_check .list-block ul {
	padding-left: 0 !important;
}
.add_check .list-block ,
.add_check .list-block .accordion-item{
	margin-bottom: 5px !important;
}
.checks_to_add li:last-child .item-content:after{
	display:none;

}
.add_check .item-content{
	border-bottom:1px solid #ddd;
}
.add_check .list-block{
	margin-top: 0 !important;
}
.add_check_btn .item-content{
	border-bottom:unset;
}
.checks_to_add .fa{
	color:#9e9e9e;
	font-size: 22px;
}
.popup_card .card{
	margin-top:30px;
}
.nothing{
	text-align: center;
}
.in_list{
	padding: 0 0 0 0 !important;
	width: 30px !important;
	height: 30px !important;
}
.cross_button{
	color:#9e9e9e;
	text-align: center;
	font-size:22px;
	height:64px;
	padding-top:10px;
}


