#center_body {
	position: relative;
	top:50%;
	transform: translateY(35%);
	min-height: 300px ;
}


.page{
	background: linear-gradient(-50deg, #e9e9e9, #eeeeee, #fff,#fff)!important;
}
.login_form{
	position: relative;
}
.item-media{
	color: rgb(117, 117, 117);
	padding-left: 2px!important;
}
.login_form .item-media+.item-inner{
	margin-left: 0!important;
}
.button_login_form{
	margin:0 10%;
}
.foget_item{
	margin-top:-10px!important;
}
.button_login_form_foget{
	font-size:12px!important;
	margin:0 10%;
}
.submit_item{
	margin-top: 15px;
}

.left-panel-header{
	padding:20px 5% 0 5%;
	text-align: center;
}
.user_img{
	width:81px;
	height: 81px;
}
.navbar{
	box-shadow:unset!important;
}
.list-block{
	margin-top: 15px!important;
}
.blck_info{
	margin-top:10%;
}