#login-form {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	white-space: nowrap;
	font-size: 0;

	&:before {
		height: 20%;
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}
.login_screan_settings .item-content{
	padding:0;
}
.login_screan_settings .item-inner{
	padding:0;
}
.login_screan_settings .item-title{

	
}
.dop_login-form .content-block-title{
	font-size: 16px !important;

	color:rgba(0,0,0,.65);
}
.dop_login-form .content-block{
	margin-top:32px;
	padding:0;
}
.dop_login-form{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	white-space: nowrap;
	font-size: 0;



	&:before {

		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}
.no-link-icon  .item-title-row{
	background-image:unset!important;
}


.disb_btn>input{
	   opacity: 1 !important;
   }

.dop_link_login{
	display: block;
	color:#6d6d6d;
}
.check_list_items{
	margin-top:0!important;
	transition: all 0.5s;
}
.dop_login-form .user_settings{
	margin-top: 25px !important;
}
.center_body{

	border:0;
	box-shadow: unset;
}
.log_left{
	background: url("../../static/nansen_mobit-365_logo.svg") center no-repeat;
	background-size: contain;
	width:100%;
	height: 150px;
}
.custom_sub{
	box-shadow: none!important;
}
.searchbar-not-found>ul>li{
	padding-left: 16px !important;
}
.searchbar-not-found>ul>li>.item-content:after{
	display:none!important;
}

.login_form{
	position: relative;
}
.item-media{
	color: rgb(117, 117, 117);
	padding-left: 2px!important;
}
.login_form .item-media+.item-inner{
	margin-left: 0!important;
}
.button_login_form{
	margin:0 10%;
}
.foget_item{
	height: 70px;
}
.button_login_form_foget{
	font-size:12px!important;
	margin:0 10%;
}
.submit_item{
	margin-top: 15px;

}

.left-panel-header{
  padding: 7px 20px;
}
.user_img{
	width:81px;
	height: 81px;
}
.navbar{
	box-shadow:unset!important;
}


.audit_good{
	color: #019341;
}
.audit_error{
	color: #ddd;
}
.audit_wrong{
	color: #b51313;

}
.setting_ii span{
	font-size:25px!important;
	margin-left:0!important;
}
.blck_info .card{
	margin:0 0 0 0 ;

}
#login-form .card{
	margin-left:20px;
	margin-right:20px;
	border-radius: 5px;
}
.obj_info{
	display:block;
	width:100%;
	margin:5px 0 5px 0;
}
.audit_new{
	color:#2196F3;
}
.blck_info .item-media{
	align-self: unset!important;
	justify-content: center;
}
.media-list{
	margin-bottom: 15px!important;
	margin-top:0px!important;
}
.card-header:after{
	height: 2px;
}
#center_body .list-block .item-content:after{
	height: 0;
}
.list-block .item-content:after {
	 content: '';
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 right: auto;
	 top: auto;
	 height: 1px;
	 width: 100%;
	 background-color: rgba(0,0,0,.12);
	 display: block;
	 z-index: 15;
	 -webkit-transform-origin: 50% 100%;
	 transform-origin: 50% 100%;
	 opacity: 0.5;
 }
.list-block .item-inner:after {

	height: 0px!important;

}
.card-content-inner{
	padding-top:0px!important;
	padding-bottom: 0px!important;
}

.comments .content-block-inner:before
 {
	display:none;
}

.comments{
	padding-top:10px;
	background: linear-gradient(-50deg, #e9e9e9, #eeeeee, #f6f6f6)!important;
}



.comment_text_zone .list-block{
	margin-top:0!important;
}

.comment_text_zone .item-content{
	padding-left:0px;
}
.comment_text_zone .item-inner{
	padding-right: 0px;
}
.accordion-item{
	margin-bottom: 15px;
}
.comment_text_zone textarea,
.comment_text_zone  .title_input input{
	 padding-left:7px;
	 padding-right:7px;
 }

.check_list_items  li:after{
	display:none!important;
}
.comment_text_zone .content-block{
	padding:15px 0 0 5px;
}
.attachments_comments span{
	margin: 20px 0 5px 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.comment_text_zone .attachments_comments{
	margin:10px 0 10px 0!important;
}
.comment_text_zone .item-content:after{
	display:none;
}
.remove_button_block{
	position:relative;
}
.remove_button{
	position:absolute;
	font-size:22px;
	top: -90px;
	left:75px;
	color:#ddd;
	width:18px;
	text-align: center;
	opacity: 1!important;
}

.img_top_back{
	background-color: #222222;
	height: 15px;
	opacity: 0.5;
	top:0;
	padding-left: 3px;
	position: relative;

}
.img_bot_back{
	background-color: #222222;
	height: 15px;
	opacity: 0.5;
	margin-top:30px;
}
.user_back{
	color:#fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../static/background_user.jpg");
}
.mleft_menu_block{
	margin-top: 0 !important;
}
.settings .left .back i{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23222222'%2F%3E%3C%2Fsvg%3E")
}
.user_settings ul:before,
.user_settings .item-content:after,
.add_list ul:before,
.add_list .item-content:after
{
	display:none;
}

.cost .page-content{
	margin-top:40px;
}
.abort_button{
	border:1px solid #ddd;
	color:#222222;
}
.check_list_items li:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.12);
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	opacity: 0.5;
}
.check_list_items .col-50 .item-content:after{
	display:none;
}
.status_sucs .item-content:first-child {
	background-color:#D9FFDA;
	transition: all 0.5s;
}
.status_disbl .item-content:first-child {
	background-color: rgba(235, 235, 235, 0.56);
	transition: all 0.5s;
}
.status_disbl .item-title{
	opacity:0.6;
}
.status_false .item-content:first-child {
	background-color:#FEE9E6;
	transition: all 0.5s;
}
.comment_text_zone .item-content{
	background-color:#FFFFFF!important;
}

//Animation
.slide-fade-enter-active,.slide-fade-leave-active {
	transition: all .2s ;
}
.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active до версии 2.1.8 */ {
	//transform: translateY(-20px);
	opacity: 0;
}



.slide-app-enter-active,.slide-app-leave-active {
	transition:   all .3s cubic-bezier(.65, 0.05, 0.36, 1.0); ;
}
.slide-app-enter, .slide-app-leave-to
	/* .slide-fade-leave-active до версии 2.1.8 */ {
	transform: translateY(20px);
	opacity: 0;
}

.acrd_custom .item-content:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	height: 1px;
	width: 100%;
	background-color: rgba(0,0,0,.12);
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0.5;
}
.custom_block_no_after .content-block-inner:after,
.custom_block_no_after .content-block-inner:before{
  display:none;
}
.comment_text_zone .item-content:before{
  display:none;
}
.check_list_items .accordion-item .item-content{
	background-color: transparent!important;
}
.new_audits_count{
	text-align: center;
	background-color: #2196f3;
	color:#FFFFFF;
	border-radius:3px;
}
.fab_bottom{
	margin-bottom:48px;
}
.crud_header{
	width:80px;
	margin-right:10px
}
.crud_header div{
	text-align: center;
}
.add_check .list-block ul {
	padding-left: 0 !important;
}
.add_check .list-block ,
.add_check .list-block .accordion-item{
	margin-bottom: 5px !important;
}
.checks_to_add li:last-child .item-content:after{
	display:none;

}
.add_check .item-content{
	border-bottom:1px solid #ddd;
}
.add_check .list-block{
	margin-top: 0 !important;
}
.add_check_btn .item-content{
	border-bottom:unset;
}
.checks_to_add .fa{
	color:#9e9e9e;
	font-size: 22px;
}
.popup_card .card{
	margin-top:30px;
}
.nothing{
	text-align: center;
}
.in_list{
	padding: 0 0 0 0 !important;
	width: 30px !important;
	height: 30px !important;
}
.cross_button{
	color:#9e9e9e;
	text-align: center;
	font-size:22px;
	height:64px;
	padding-top:10px;
}
.check_content .card-content-inner{
	padding:0;
}
.acrd_custom>ul{
	padding: 0 !important;
}
.list-block .swipeout-actions-right>a{

	background-color: #2196f3;
	//#e0e0e0
}
.check_list_items .item-content{
	min-height: 64px;
}
.check_list_items .item-content>.item-inner{
	padding-top:0;
	padding-bottom:0;
}
.check_list_items .swipeout-close{
	transform: none!important;
}
.text_main.content-block.content-block-inner:after{
	display:block;
}
.porgress_block>.preloader{
	justify-content: center !important;
}
.porgress_block>span,
.porgress_block>.preloader span{
	margin: 0 !important;
}
.object_link{
	text-align: left!important;
	padding-left:0!important;
}
.swipe_btn{
	color: #f6f6f6 !important;
	font-size: 25px !important;
}
.item-title-row, .item-subtitle{
	color: #757575;
	font-size:14px;
}
.list-group-title{
	min-height:38px;
	color:#000!important;
	line-height: unset!important;
	height:unset!important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.deff {
	line-height:48px!important;
	height: 48px!important;
}
.new_text_comm .comment_text_zone>.list-block>ul{
	padding-left:0;

}
.navbar-inner{
	overflow:visible;
}
.cloud{
	width:52px;
	height:48px;
}
.could_ok{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='255.12px' height='170.08px' viewBox='0 0 255.12 170.08' enable-background='new 0 0 255.12 170.08' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cg%3e%3cpath fill='%23019341' d='M197.484,52.133l-8.803,10.876c0.058,0.483,0.104,0.97,0.143,1.459l9.018-11.259 C197.73,52.847,197.604,52.492,197.484,52.133z'/%3e%3cpath fill='%23019341' d='M201.96,65.696l-7.048,8.798c10.301,4.654,17.064,14.965,17.064,26.387 c0,15.069-11.789,27.757-26.84,28.885c-0.213,0.016-0.422,0.044-0.627,0.083H50.88c-8.43,0-15.288-6.858-15.288-15.289 c0-8.43,6.858-15.287,15.288-15.287c1.214,0,2.435,0.147,3.63,0.438c1.947,0.474,3.999-0.148,5.356-1.623 c1.357-1.476,1.806-3.571,1.172-5.473c-0.981-2.946-1.479-6.024-1.479-9.149c0-15.973,13.034-28.968,29.054-28.968 c6.586,0,12.796,2.142,17.959,6.191c1.457,1.144,3.392,1.479,5.148,0.891s3.101-2.019,3.577-3.81 c4.354-16.362,19.238-27.791,36.195-27.791c14.482,0,27.063,8.268,33.294,20.325l7.413-9.159 c-8.647-13.339-23.66-22.186-40.707-22.186c-19.445,0-36.785,11.616-44.404,29c-5.66-2.948-11.935-4.482-18.476-4.482 c-22.097,0-40.075,17.938-40.075,39.988c0,1.633,0.099,3.257,0.295,4.866c-13.554,1.048-24.263,12.412-24.263,26.229 c0,14.507,11.802,26.31,26.309,26.31h134.676c0.587,0,1.166-0.077,1.716-0.233c9.551-1.031,18.376-5.437,24.97-12.495 c6.936-7.424,10.754-17.105,10.754-27.26C222.996,86.06,214.75,72.595,201.96,65.696z'/%3e%3c/g%3e%3c/g%3e%3cpath fill='%23019341' d='M152.215,115.442c-1.915,0-3.713-0.925-4.826-2.483l-29.461-29.583c-1.907-2.666-1.291-6.371,1.374-8.277 c2.666-1.905,6.371-1.289,8.276,1.376l24.637,22.836l56.744-70.114c1.906-2.665,5.611-3.28,8.275-1.375 c2.666,1.905,3.281,5.61,1.375,8.276l-61.568,76.861C155.926,114.518,154.13,115.442,152.215,115.442L152.215,115.442z'/%3e%3c/g%3e%3c/svg%3e");

}
.cloud_no_sink{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='255.12px' height='170.08px' viewBox='0 0 255.12 170.08' enable-background='new 0 0 255.12 170.08' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cg%3e%3cpath fill='%23D7D6D7' d='M146.621,130.016H51.046c-8.441,0-15.309-6.868-15.309-15.309c0-8.439,6.868-15.31,15.309-15.31 c1.215,0,2.439,0.149,3.635,0.439c1.95,0.475,4.004-0.148,5.364-1.626c1.359-1.478,1.809-3.574,1.173-5.48 c-0.982-2.948-1.481-6.029-1.481-9.162c0-10.917,6.083-20.442,15.046-25.391l-8.025-8.024 c-10.869,7.171-18.056,19.469-18.056,33.416c0,1.636,0.098,3.263,0.295,4.873c-13.572,1.05-24.295,12.429-24.295,26.266 c0,14.526,11.818,26.346,26.344,26.346h106.61L146.621,130.016z'/%3e%3cpath fill='%23D7D6D7' d='M200.262,64.73c-1.448-25.474-22.635-45.754-48.465-45.754c-19.474,0-36.835,11.631-44.465,29.04 c-4.68-2.437-9.781-3.907-15.103-4.346l18.256,18.255c0.5-0.024,0.999-0.109,1.485-0.271c1.759-0.59,3.104-2.022,3.582-3.815 c4.36-16.385,19.264-27.829,36.245-27.829c20.684,0,37.51,16.825,37.51,37.508c0,0.256-0.005,0.512-0.011,0.766l-0.001,0.073 c-0.043,2.376,1.439,4.512,3.682,5.303c11.593,4.089,19.384,15.081,19.384,27.349c0,15.091-11.806,27.795-26.875,28.922 c-0.215,0.018-0.425,0.048-0.629,0.084h-6.278l10.598,10.601c8.965-1.321,17.208-5.626,23.451-12.311 c6.946-7.433,10.77-17.128,10.77-27.296C223.396,85.381,214.244,71.255,200.262,64.73z'/%3e%3c/g%3e%3c/g%3e%3cpath fill='%23D7D6D7' d='M196.857,169.794c-1.41,0-2.823-0.539-3.901-1.619L47.339,22.559c-2.154-2.155-2.154-5.648,0-7.803 c2.154-2.154,5.647-2.154,7.802,0L200.76,160.372c2.155,2.155,2.155,5.649,0,7.803 C199.683,169.255,198.271,169.794,196.857,169.794L196.857,169.794z'/%3e%3c/g%3e%3c/svg%3e");
}
.cloud_error{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='255.12px' height='170.08px' viewBox='0 0 255.12 170.08' enable-background='new 0 0 255.12 170.08' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cg%3e%3cg%3e%3cpath fill='%23d32f2f' d='M203.96,64.696l-9.048,7.798c10.301,4.654,17.063,16.965,17.063,28.387 c0,15.069-11.789,27.757-26.84,28.886c-0.213,0.016-0.422,0.043-0.627,0.082H50.88c-8.43,0-15.288-6.857-15.288-15.289 c0-8.43,6.858-15.287,15.288-15.287c1.214,0,2.435,0.147,3.63,0.438c1.947,0.474,3.999-0.147,5.356-1.623 c1.356-1.476,1.806-3.571,1.172-5.473c-0.981-2.946-1.479-6.024-1.479-9.149c0-15.973,13.034-28.968,29.054-28.968 c6.587,0,12.797,2.142,17.959,6.191c1.457,1.144,3.393,1.479,5.148,0.891s3.101-2.019,3.577-3.81 c4.354-16.362,19.238-27.791,36.195-27.791c14.481,0,26.063,8.268,32.294,20.325l8.413-7.159 c-8.647-13.339-23.66-24.186-40.707-24.186c-19.445,0-36.785,11.616-44.404,29c-5.66-2.948-11.936-4.482-18.477-4.482 c-22.097,0-40.074,17.938-40.074,39.988c0,1.633,0.099,3.257,0.295,4.866c-13.555,1.048-24.264,12.412-24.264,26.229 c0,14.508,11.803,26.311,26.31,26.311h134.676c0.587,0,1.166-0.077,1.716-0.233c9.551-1.03,18.376-5.437,24.971-12.495 c6.936-7.424,10.754-17.104,10.754-27.26C222.996,86.06,216.75,71.595,203.96,64.696z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cline fill='none' stroke='%23d32f2f' stroke-width='13' stroke-linecap='round' stroke-linejoin='round' x1='215.604' y1='38.632' x2='131.56' y2='110.923'/%3e%3cline fill='none' stroke='%23d32f2f' stroke-width='13' stroke-linecap='round' stroke-linejoin='round' x1='135.311' y1='54.614' x2='196.173' y2='112.498'/%3e%3c/svg%3e");
}
.new_audit_icon svg{
	color:#DAA520;



}
.new_audit_icon{
	width:52px;
	height:48px;
	font-size:40px;
	line-height:48px;
}
.no_check_list{
	color: #dddddd !important;
	width:52px;
	height:48px;
	font-size:40px;
	line-height:48px;
}
.item_audit .item-media{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
.custom_checkbox .icon-form-checkbox{
	border-color:  transparent !important;
	background-color:  rgba(248, 248, 248, 0.5) !important;
	border-radius:100% !important;
	width: 38px !important;
	height: 38px !important;
}
.custom_checkbox .icon-form-checkbox:after {
	opacity: 1 !important;
	width: 30px !important;
	height: 30px !important;
	left: 2px !important;
	top: 2px !important;
	right: 2px !important;

}
.sucsess_status  .icon-form-checkbox:after{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23B9B9B9'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M9%2016.17L4.83%2012l-1.42%201.41L9%2019%2021%207l-1.41-1.41z'%2F%3E%3C%2Fsvg%3E") !important;
}

.false_status .icon-form-checkbox:after{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='%23B9B9B9' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3e%3c/svg%3e") !important;
}
.sucsess_status input[type=checkbox]:checked+.item-media .icon-form-checkbox:after{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23019341'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M9%2016.17L4.83%2012l-1.42%201.41L9%2019%2021%207l-1.41-1.41z'%2F%3E%3C%2Fsvg%3E") !important;
}
.false_status input[type=checkbox]:checked+.item-media .icon-form-checkbox:after{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='%23b51313' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3e%3c/svg%3e") !important;
}
.bottom_group_btn{
	position:fixed;
	bottom:0;
	width:100%;
}
.bottom_group_btn .content-block-inner{
	padding-bottom:30px;
	padding-top:30px;
}
//.toolbar-bottom{
//	box-shadow: unset !important;
//}
.toolbar_custome_link{
	width:125px;
}
.searchbar-overlay{
	position:fixed!important;
}
.comment_acrd{
	padding: 0 10px 0 10px !important;

}
.acrd_custom{
	margin-top: 0 !important;
}
.acrd_custom .accordion-item{
	margin-bottom:0;
}
.inner_check_connetent .item-content{
	background-color:transparent!important;

}
.comment_text_zone>.list-block>ul{
	padding-left: 0 !important;

}

.smart-select-page .list-block{
	margin-top: 0 !important;
}
.smart-select-page .list-block .item-title div{
	font-size:1px;
	visibility:hidden;
	opacity:0;

}
.smart-select-page .searchbar{
	transition:all .4s;
	box-shadow: unset;
}
.smart-select-page .navbar.navbar-hidden+.searchbar{
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transform: translate3d(0,-116%,0);
	transform: translate3d(0,-116%,0)
}
.item-title div{
	font-size:1px;
	visibility:hidden;
	opacity:0;
}
.navbar.navbar-hidden~.page-content .list-group-title{
	top:0!important;
}
.check_list_items .item-title{
  -webkit-transition: .3s;
  -moz-transition:  .3s;
  -ms-transition:  .3s;
  -o-transition:  .3s;
  transition:  .3s;

}
.show_title  {
  white-space: unset!important;
  padding: 10px 0;
}
.show_title .item-title {
  white-space: unset!important;
  padding: 10px 0;
}
.audit_list_item .item-text,
.edit_audit_page .item-text{
	max-height:unset;
	display:block;
}
.icons_check-audit_page span{
	justify-content: center;
	align-items: center;
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	-ms-transform: translateX(5px);
	-o-transform: translateX(5px);
	transform: translateX(5px);
}
.solo{
	width: 100%;
}