#login-form {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	white-space: nowrap;

	font-size: 0;

	&:before {
		height: 20%;
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}


.page{
	background: linear-gradient(-50deg, #e9e9e9, #eeeeee, #fff,#fff)!important;
}
.login_form{
	position: relative;
}
.item-media{
	color: rgb(117, 117, 117);
	padding-left: 2px!important;
}
.login_form .item-media+.item-inner{
	margin-left: 0!important;
}
.button_login_form{
	margin:0 10%;
}
.foget_item{
	margin-top:-10px!important;
}
.button_login_form_foget{
	font-size:12px!important;
	margin:0 10%;
}
.submit_item{
	margin-top: 15px;
}

.left-panel-header{
	padding:20px 5% 0 5%;
	text-align: center;
}
.user_img{
	width:81px;
	height: 81px;
}
.navbar{
	box-shadow:unset!important;
}
.list-block{
	margin-top: 15px!important;
}

.audit_good{
	color:#ddd;
}
.audit_error{
	color: #ddd;
}
.audit_wrong{
	color:#ddd;
	width:28px;
}
.blck_info .card{
	margin:3% 0 0 0 ;

}
#login-form .card{
	margin:0 ;
	background-color: transparent;
	border:unset;
	-webkit-box-shadow: unset;
	-moz-box-shadow: unset;
	box-shadow: unset;
}
.obj_info{
	display:block;
	width:100%;
	margin:5px 0 5px 0;
}
.audit_new{
	color:#2196F3;
}
.blck_info .item-media{
	align-self: unset!important;
	justify-content: center;
}
.media-list{
	margin-bottom: 15px!important;
	margin-top:0px!important;
}
.card-header:after{
	height: 2px;
}
#center_body .list-block .item-content:after{
	height: 0;
}
.list-block .item-content:after {
	 content: '';
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 right: auto;
	 top: auto;
	 height: 1px;
	 width: 100%;
	 background-color: rgba(0,0,0,.12);
	 display: block;
	 z-index: 15;
	 -webkit-transform-origin: 50% 100%;
	 transform-origin: 50% 100%;
	 opacity: 0.5;
 }
.list-block .item-inner:after {

	height: 0px!important;

}
.card-content-inner{
	padding-top:0px!important;
	padding-bottom: 0px!important;
}

.comments .content-block-inner:before
 {
	display:none;
}
.comments .content-block-inner,
.comment_text_zone .content-block-inner{
	background-color: #fff;
}
.comments{
	padding-top:10px;
	background: linear-gradient(-50deg, #e9e9e9, #eeeeee, #f6f6f6)!important;
}
.comment_text_zone{
	padding-top:10px;
	background: linear-gradient(-50deg, #e9e9e9, #eeeeee, #f6f6f6)!important;
}
.comment_text_zone .list-block{
	margin-top:0!important;
}
.comment_text_zone .inputs-list .item-content:after{
	display:none!important;
}
.comment_text_zone .item-content{
	padding-left:0px;
}
.comment_text_zone .item-inner{
	padding-right: 0px;
}
.accordion-item{
	margin-bottom: 15px;
}
.comment_text_zone ul{
	margin-top:5px;
}
.comment_text_zone textarea,
.comment_text_zone  .title_input input{
	 border-radius:7px;
	 border:1px solid #ddd;
	 padding-left:7px;
	 padding-rigth:7px;
	transition: all 0.2s;
	box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.1);
 }
.comment_text_zone textarea:focus,
.comment_text_zone  .title_input input:focus{
	border-color:#2196F3;
	box-shadow: inset 0 0 5px 1px rgba(33,150,243,0.2);

}
.comment_text_zone .item-input-field:after,
.comment_text_zone .item-content:after
{
	display:none;
}

.comment_text_zone .content-block{
	padding:0;
}
.attach{
	border:1px solid #ddd;
	display: inline-block;
	background-color: transparent;
	color: white;
	width: 60px;
	height: 60px;
	font-size: 12px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: none;
	margin:0 5px 0 5px;
	overflow: hidden;
}
.img_top_back{
	background-color: #222222;
	height: 15px;
	opacity: 0.5;
	top:0;
	padding-left: 3px;
}
.img_bot_back{
	background-color: #222222;
	height: 15px;
	opacity: 0.5;
	margin-top:30px;
}
.user_back{
	color:#fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlp9gxesoPiEJh6ogoE1PtgqYqUzdECRBAzgDX7ub4JJzdKcNQ");
	height: 90px;
}
.mleft_menu_block{
	margin-top: 0 !important;
}
.settings .left .back i{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23222222'%2F%3E%3C%2Fsvg%3E")
}
.user_settings ul:before,
.user_settings .item-content:after
{
	display:none;
}

.cost .page-content{
	margin-top:40px;
}
.abort_button{
	border:1px solid #ddd;
	color:#222222;
}
